# pysqlite3
streamlit==1.28.1
chromadb==0.4.17
llama-index==0.11.22
llama-index-core
llama-index-llms-openai
llama-index-vector-stores-chroma 
# pysqlite3-binary
chromadb-pysqlite3

langchain==0.3.22
langchain-community==0.3.20
langchain-core==0.3.51
langchain-openai==0.3.12 
langsmith==0.3.24
langgraph